build/*
*.o
*.so
*.dll
*.exe

# vim swap files
*.sw?
*.un~

# mac finder crap
*.DS_Store

# builds and other cmake shit
bin
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile

# vscode cuz flotwig uses a real man's editor
.vscode
